.background{
    background-image: url("https://i.ibb.co/BtBX6D9/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}